@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.flexbox 
{
    display: flex;
    
}
html * {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
aside 
{
    font-style: italic;
}

.inline
{
    margin-right: auto;
}

img.block {
    display: block;
    margin: 5% auto;
}
img.right {
    float: right;
}
img.left {
    float: left;
}

img.inline-block {
    display: inline-block;
    margin: 2%;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
header {
    top: 0px;
    position: sticky;
}

nav
{
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 1);
    align-items: stretch;
}

.inline
{
    align-self: left;
    color: white;
}
.h1_center{
    text-align: center;   
    font-size:xx-large;
    font-weight: bold;
    padding: 30px;
}
.p_bold{
font-weight: bold;
}
footer{
    display: flex;
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 5px;
    color: #fff;
    max-width: 100%;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
article {

    flex-basis: 100%;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.subcontainer2 {
    height: 168px;
    flex-basis: 30%;
    background-color: black;
    color: white;
    text-align: justify;
    padding: 2px;
    margin-bottom: 20px;
    padding-left: 25px ;
    

}
.subcontainer3 {   
    
    height: 25em;
    text-align: justify;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 15px ;
}
.subcontainer5 {
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    height: 260px;
    justify-content: center;
    align-items: center;
    background-color: #111;
}
.subcontainer3_centeredtext{
    color: #fff;

}
.subcontainer4 {
    flex-direction: column;
}
.subcontainer2 div{
    font: normal normal bold 22px/20px Montserrat;
    padding: 5px;
}
.subcontainer2 h3{
    font-size: 1.8rem;
    padding-top: 20px;
}
.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}
.text h1 {
    font-size: 1.8rem;
    color: white;
}
.navbut {
    height: 100%;
    font-size: large;
    background-color: black;

    border: 0px;
    margin:  0px 2px 0px 2px;
}

.navbut:hover  {
    background-color: blanchedalmond;
}

#navbutlast {
    margin:  0px 0px 0px 2px;
}

.activelink {
    color: white;
    
}

#aside1 {
    background-color: rgba(218, 203, 176, 0.692);
    border: 2px solid black;
}
#aside2 {
    background-color: rgb(130, 143, 57);
    padding: 10px;
    border: 2px solid black;
}
#story {
    flex-basis: 100%;
}
#story2 {
    display: flex;
    
}
.break {
    flex-basis: 100%;
    height: 0;
  }
#aside3 {
    flex-basis: 30%;
    background-color: rgba(146, 214, 68, 0.356);
    text-align: justify;
    padding: 10px;
    border: 2px solid black;
}
#story h2{
    display: flex;
    padding: 25px;
    font-size:xx-large;
    font-weight: bold;
    margin: 0;
}
.center{
    align-items: center;
  justify-content: center;
}
#story p{
    padding: 10px;
    font: normal normal bold 18px Montserrat;
    margin: 0;
    padding-right: 0%;
}
#story h4{
    display: flex;

}
#wrapper {
    display: flex;
    flex-direction: column;
}
.myClass {
    background-color: red;
    color: white;
    font-size: 44px;
  }
p {
    text-align: justify;
    margin: 15px;
}

main {
    flex-basis: 100%;
    align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}
.mySlides{
    width: 100%;
    display: none;
}
.w3-button{border:none;
    display:inline-block;
    padding:14px 20px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:white;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    opacity: 50%;
    border-radius: 50%;
}
.buttonlink{
    border:none;
    display:inline-block;
    padding:25px 80px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:black;
    text-align:center;
    cursor:pointer;
    color: whitesmoke;
    font-size: 1.5em;
    white-space:nowrap;
    opacity: 90%;
    border-radius: 12px;
}
.buttonlink:hover{
    color:#000!important;background-color:rgb(22, 22, 22)!important
}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-display-left{
    position:absolute;
    top:50%;
    left:0%;
}
.w3-display-right{
    position:absolute;
    top:50%;
    right:0%;
}
.w3-display-container:hover .w3-display-hover{display:block}
.w3-display-container:hover span.w3-display-hover{display:inline-block}
.w3-display-hover{display:none}
.w3-display-container{position:relative}
.w3-content{
    position: relative;
    margin-left:auto;
    margin-right:auto
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 6px;
    margin-bottom: 0px;
    vertical-align: middle;
    width: 100%;
    max-height: 50%;
  }
  .column2 {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column2 img {
    margin-top: 6px;
    margin-bottom: 0px;
    vertical-align: middle;
    width: 100%;
    height: 32%;
    max-height: 50%;
  }
  .centered {

    top: 50%;
    left: 50%;
  }
  .img_content {
    position: absolute;
    opacity: 90%;
    padding-top: 60px;
    padding: 40px;
    padding-left: 60px;
    color: #ccc;
    align-content: center;
  }
 